/[Ll]ibrary/
/[Tt]emp/
/[Oo]bj/
/[Bb]uild/
/[Bb]uilds/
/[Ll]ogs/
/[Uu]ser[Ss]ettings/
*.csproj
*.sln
*.user
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db
*.pidb.meta
*.suo
*.userprefs
*.unityproj
*.apk
*.aab
*.app
*.ipa
*.unitypackage
*.stacktrace
MemoryCaptures/
Recordings/
